/* reserved */
html{
    max-height: 90vh;
    min-height: 600px;
    font-size: 20px;
}
@font-face {
  font-display: swap;
  font-family: 'Zain';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/zain-v3-latin-regular.woff2') format('woff2');
}
body{
    margin:0;
    background-color: rgb(227, 227, 227);
    font-family: "Zain", "Trebuchet MS", Verdana, sans-serif;
}
header{
    display: inline-flex;
    width:100%;
    justify-content: space-between;
    text-align: center; 
}
h1{
    color:#7e4949;
    font-size: 2rem;
}
.hide-calendar-header, .week-scroll, .display-selector{
    margin: auto;
}
.week-scroll{
    display: inline-flex;
    padding: 24px;
    width: 20%;
}
.week, .calendar-name, .current-date-number, .calendar, .calendar-month{
    margin: auto;
}

.lower-flex{
    display: inline-flex;
    width:100%;
    max-height: 90vh;
}
.calendar-view{
    width: 20%;
    float: left;
    box-sizing: border-box;
    min-width: 260px;
    font-size: 0.8rem;
    padding: 16px;
    height: 90vh;
}
.week-view{
    display: inline;
    overflow: auto;
    width: 80%;
    background-color:rgb(244, 244, 244);
    float:right;
    min-height: 600px;
    border-radius: 20px;
}
.display-selector{
    float:right;
}
.calendar-header{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.week {
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    border: none;
    margin: auto;
    align-items: center;
    padding: 10px;
    max-height: 36px;
    aspect-ratio : 1 / 1; 
    background-color: inherit;
}
.week:hover{
    background-color:#7e494977;
}
.arrow-button{
    text-align: center;
    margin: auto;
    max-height: 16px;
}
.arrow-button.right{
    transform: rotate(180deg)
}
.arrow-button.left img{
    display: flex;
    width: 32px;
    height: 32px;
}
.calendar-day-row{
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}
#hide-calendar{
    background-color: inherit;
    border: none;
}
img.burger{
    max-height: 32px;
    height: 32px;
    width:32px;
}
.hide-calendar-header{
    margin-right: 16px;
}
.calendar-name{
    float:left;
    margin-left: 16px;
}
.timeline-container {
    display: flex;
    height: 138vh;
    overflow-y: scroll;
    margin-top:104px;
}
.timeline-grid{
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.time-column {
    flex: 1;
}
.time-column div {
    height: 6vh;
    border-bottom: 1px solid #7e4949;
    border-left: 1px solid #7e4949;
    position: relative;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    padding: 16px;
}
.topline {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background: #7e4949;
    color: white;
    z-index:1;
    width:inherit;
    height: 80px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #7e4949;
    position: absolute;
    padding-top: 12px;
    padding-bottom:12px;
    border-top-left-radius: 16px;
}
.topline-number{
    border-radius: 50%;
    background-color: white;
    color:#7e4949;
    width: 40px;
    margin: auto;
}
div.meeting-example{
    width: 95%;
    max-height: 24px;
    border: none;
    background-color:#7e4949;
    color: white;
    margin-top: 0;
    margin-right: 0;
    font-size: 0.6rem;
    border-radius: 20px;
    padding: 4px;
}
div.sample{
    padding: 0;
}
.event-top-column, .event-mid-column, .event-bot-column{
    display: flex;
    flex-direction: row;
    padding: 32px;
}
.event-container{
    width: 600px;
    min-height:400px;
    max-height: 90vh;
    background-color: rgb(227, 227, 227);
    position: fixed;
    top: 30%;
    left: 5%;
    right: 5%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 0.1rem -0.1rem 0.5rem rgba(126,73,73, 0.5),
                -0.1rem 0.1rem 0.5rem rgba(126,73,73, 0.5),
                -0.1rem -0.1rem 0.5rem rgba(126,73,73, 0.5),
                0.1rem 0.1rem 0.5rem rgba(126,73,73, 0.5);
}
#event{
    display:none;
}
.event-icon-column{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.event-content-column{
    flex: 10;
    display: flex;
    flex-direction: column;
}
.event-name-input{
    line-height: 40px;
    font-size: 1.5rem;
    width: inherit;
    background-color: rgb(244, 244, 244);
    color:#7e4949;
    padding-left: 16px;
    background-color: inherit;
    border: none;
    border-bottom:1px solid #7e4949;
    outline: none;
    margin-bottom: 16px;
}
.event-name-input::placeholder{
    color: #7e4949;
}
.event-name-input:focus{
    border-bottom:3px solid #7e4949;
}
.event-header{
    width: 100%;
    height: 24px;
    padding-bottom: 16px;
    font-size: 1.5rem;
    color: rgba(100,100,100, 1);
}
.event-close-button{
    background-color: inherit;
    border: none;
    float: right;
}
.event-close-button img{
    width: 32px;
    height: 32px;
}
.event-close-button:hover{
    background-color: #7e494977;
    cursor: pointer;
}
.event-type-line, .event-time-picker, .event-extra-date-selectors{
    width: 100%;
    height: 32px;
    font-size: 1rem;
    color: #7e4949;
    display: inline-flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}
.event-type-line div{
    padding: 8px;
    background-color: rgb(232, 213, 213);
    border-radius: 10px;
    height: 16px;
    text-align: center;
    margin-right: 16px;
    padding-top: 8px;
}
.event-type-line div:hover{
    background-color: rgb(203, 176, 176);
}
.event-time-picker div{
    padding: 8px;
    background-color: rgba(127, 127, 127, 0.5);
    height:16px;
    text-align: center;
    padding-top: 8px;
}
.event-date-box{
    margin-right: 16px;
}
.event-date-box:hover{
    background-color: rgba(62, 62, 62, 0.5);
}
.event-checkbox{
    color: #7e4949;
    height: 16px;
    width: 16px;
}
.event-extra-date-selectors .event-date-box{
    padding:8px;
    border-radius: 10px;  
    height: 16px;
    text-align: center;
    padding-top: 8px;
    background-color: rgba(127, 127, 127, 0.5);
}
.event-extra-date-selectors .event-date-box:hover{
    background-color: rgba(62, 62, 62, 0.5);
}
.event-extra-date-selectors{
    align-items: center;
}
.checkbox-holder{
    padding: 4px;
    margin-right: 16px;
    border-radius: 24px;
    height: 24px;
    width: 24px;
    text-align: center;
}
.checkbox-holder:hover{
    background-color: rgba(62, 62, 62, 0.5);
}

.event-name-input.mini{
    height: 24px;
    line-height: 24px;
    font-size: 1rem;
    margin: 0;
}
.separator{
    height: 1px;
    width:100%;
    background-color:#7e4949;
    margin-bottom: 16px;
}
#event-location, #event-description{
    margin-bottom: 16px;
}
img.location{
    margin: auto;
    margin-top: 0;
    width: 24px;
    max-height: 24px;
}

.description{
    margin-top: 0;
    margin:auto;
}

.dropdown, .event-button, .event-save-button{
    position: relative;
    display: inline-block;
    border: 1px solid black;
    padding: 16px;
    font-size: 1rem;
    border-radius: 32px;
    background-color: #f9f9f9;
}
.dropdown:hover{
    background-color: #c9c9c9;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(227, 227, 227);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    padding-top: 8px;
    flex-direction: column;
    right: 0;
    top: 50px;
}
.dropdown-item{
    display: inline-flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}
.dropdown-item:hover, .event-button:hover{
    background-color: #c9c9c9;
}
.dropdown:hover .dropdown-content, .event-button:hover .dropdown-content {
    display: flex;
    z-index:2;
}
.event-button-button{
    background-color: inherit;
    border: none;
}
.event-button .dropdown-content{
    left: 0;
}

.event-save-button{
    font-size: 1rem;
    height: 40px;
    float: right;
    border: none;
    background-color:#7e4949;
    color: white;
    padding: 8px 16px;
}
.event-bot-column .event-content-column .event-type-line{
    justify-content: flex-end;
}